<h1>New User</h1>

  <% if @user.errors.any? %>
    <% @user.errors.each do |error| %>
    <%= error.full_message %> <br>
    <% end %>
  <% end %>

  <%= form_with model: @user do |form| %>
    <%= form.label :username, 'Rails Name' %>
    <%= form.text_field :username %>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'exemple@me.com' %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit %>
  <% end %>
